[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 12.0
[submodule "frutilight"]
	path = frutilight
	url = git@git.vauxoo.com:vauxoo/frutilight.git
	branch = 12.0
